<body>
  <!-- メインヘッダー -->
  <div>
    <header><h1>メモアプリ</h1></header>
  </div>
  <!-- ページヘッダー -->
  <div class="h-container">
    <h2>詳細</h2>
    <form action="/memo/index" method="GET">
      <input type="submit" id="btn_return" value="戻る" />
    </form>
  </div>
  <!-- コンテンツ -->
  <!-- データ表示 -->
  <section>
    <div class="v-container">
      <label for="view_title">タイトル</label>
      <input type="text name="view_title" id="view_title" value=<%= escape_html(@title) %> readonly>
    </div>
    <div class="v-container">
      <label for="view_content">内容</label>
      <textarea
        name="view_content"
        id="view_content"
        cols="50"
        rows="10"
        wrap="soft"
        readonly
      ><%= escape_html(@content) %></textarea>
    </div>
  </section>
  <!-- ボタン -->
  <section class="h-container">
    <form action="/memo/<%= @id %>/edit" method="GET">
      <input type="submit" name="btn_edit" id="btn_edit" value="変更" />
    </form>
    <form action="/memo/<%= @id %>/delete" method="POST">
      <input type="submit" name="btn_delete" id="btn_delete" value="削除" />
      <input type="hidden" name="_method" value="DELETE">
    </form>
  </section>
</body>
