<body>
  <!-- メインヘッダー -->
  <div>
    <header><h1>メモアプリ</h1></header>
  </div>
  <!-- ページヘッダー -->
  <div class="h-container">
    <h2>変更</h2>
    <form action="/memo/index" method="GET">
      <button type="submit" id="btn_return">キャンセル</button>
    </form>
  </div>
  <!-- コンテンツ -->
  <section>
    <form action="/memo/<%= @id %>/edit" method="POST">
      <div class="v-container">
        <label for="edit_title">タイトル</label>
        <input type="text" name="edit_title" id="edit_title" value=<%= escape_html(@title) %> required>
      </div>
      <div class="v-container">
        <label for="edit_content">内容</label>
        <textarea
          name="edit_content"
          id="edit_content"
          cols="50"
          rows="10"
          wrap="soft"
        ><%= escape_html(@content) %></textarea>
      </div>
      <input type="submit" id="btn_regist" value="登録" />
      <!-- <input type="hidden" name="edit_id" value=<%= @id %>> -->
      <input type="hidden" name="_method" value="PATCH">
    </form>
  </section>
</body>