<body>
  <!-- メインヘッダー -->
  <div>
    <header><h1>メモアプリ</h1></header>
  </div>
  <!-- ページヘッダー -->
  <div class="h-container">
    <h2>メモ一覧</h2>
    <form action="/memos/new" method="GET">
      <button type="submit" id="btn_new">追加</button>
    </form>
  </div>
  <!-- コンテンツ -->
  <section>
    <ul>
      <% @data_list.each do |memo| %>
      <li><a href="/memos/<%= memo['id'] %>/detail"><%= escape_html(memo['title']) %></a></li>
      <% end %>
    </ul>
  </section>
</body>
