<body>
  <!-- メインヘッダー -->
  <div>
    <header><h1>メモアプリ</h1></header>
  </div>
  <!-- ページヘッダー -->
  <div class="h-container">
    <h2>404 - Page Not Found.</h2>
  </div>
  <div>
    <a href="/index">TOPへ</a>
  </div>
</body>